// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;

$cadet: #5E6973;
$water-spout: #9FFFF5;
$light-cyan: #E2FFFE;
$pewter-blue: #93B7BE;
