<% @results.each do |r| %>
   <div class="result-card">
    <div class="result-card-item result-card-votes">
      <i class="fas fa-chevron-up"></i>
      <p>10</p>
    </div>
    <div class="result-card-item result-card-body">
      <p class="card-title"><%= r.title %></p>
      <p class="card-description">Description of the course</p>
    </div>
    <div class="result-card-item result-card-icons">
      <% if params[:search == lesson] %>
        <% unless current_user.favorite_lessons.exists?(id: r.id) %>
          <%= link_to favorite_lessons_path(lesson_id: r.id), method: :post do %>
            <i class="fas fa-bolt"></i>
          <% end %>
        <% else %>
          <p>Already favorited</p>
        <% end %>
      <% end %>
    </div>
   </div>
<% end %>

