.header {
  background-color: $cadet;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 20px 30px;
}

.header-right {
  display: flex;
}

.header-right-item {
  padding: 0 10px;
  p {
    margin: 0;
    font-weight: 300;
  }
  a {
    color: $light-cyan;
    &:hover {
      text-decoration: none;
      color: $water-spout;
    }
  }
}

.logo {
  height: 50px;
}
