.results {
  background-color: $cadet;

  p {
    font-size: 20px;
    color: $pewter-blue;
    margin: 8px 10px;
  }
}

.active {
  border: 2px solid $pewter-blue;
  background: transparent;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;

  &:focus {
    outline: none;
  }

  &:hover {
    border: 2px solid $pewter-blue;
    p {
      color: $pewter-blue;
    }
  }
}

.inactive {
  opacity: 0.5;

  border: 2px solid $pewter-blue;
  background: transparent;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;

  &:focus {
    outline: none;
  }

  &:hover {
    opacity: 1;
    border: 2px solid $pewter-blue;
    background-color: $light-cyan;
    p {
      color: $pewter-blue;
    }
  }
}

.results-horizontal {
  display: flex;
  width: 100%;
}

.results-horizontal-half {
  width: 50%;

  select {
    width: 99%;

    background-color: white;
    border: 2px solid $pewter-blue;
    -webkit-appearance: none;
    padding: 12px;

    font-weight: 300;
  }
}

.search-icon {
  background-color: transparent;
  border: 0;
  i {
    font-size: 32px;
    color: $water-spout;
    &:hover {
      color: $light-cyan;
    }
  }
  &:focus {
    outline: none;
  }
}


